page-dashboard {
    .avatar {
        padding: 1px 9px;
    }
    .content-text {
        padding: 10px;
    }
    .content-center {
        justify-content: center !important;
        display: flex !important;
    }
    .img-user {
        width: 150px !important;
        height: 150px !important;
    }
}